{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat corporis hic nostrum assumenda aspernatur fugiat quibusdam? Suscipit nesciunt facere veritatis voluptatum nobis. Iure, voluptates voluptatem? Dolorem eius cum labore. Ratione totam dolore molestias voluptatibus excepturi error et ad officia magnam! Nemo suscipit animi magni sed cupiditate eveniet veniam corrupti eaque eius consequuntur! Fugit, ex culpa, exercitationem esse ullam quos similique quod nemo ipsa nostrum, rem unde molestiae tempora iste quam id at! Facilis reiciendis dignissimos non sit accusamus numquam, reprehenderit laborum obcaecati aspernatur eos ipsam ratione officiis! Non, officiis iste nihil amet ipsa voluptatum recusandae ab, officia ad eum incidunt.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>


    </section>

</main>

{% endblock %}

